html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    outline: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body  {
    font-family: 'Montserrat', sans-serif;
   }
header{
    position: fixed;
    width:100%;
    padding:.5rem 0;
    z-index: 99;
}
header .desktop-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
header .desktop-header .logo-sec{
    width: 180px;
}
header .desktop-header .logo-sec img{
    max-width: 100%;
}
header .desktop-header .navigation-sec ul{
    display:flex;align-items: center;
}
header .desktop-header .navigation-sec .contact:hover{
        background-color: transparent;
    border-color: #fff;
    color: #fff;
}
header .desktop-header .navigation-sec .contact{
        background-color: #23c1cb;
    color: #fff;
    padding: 12px 30px;
    border: 1px solid #23c1cb;
    display: inline-block;
    border-radius: 50px;
    margin-left:1rem;
}
header .desktop-header .navigation-sec ul li a{
    padding:0 1.5rem;
    font-weight: 500;
    text-decoration:none;
    font-size: 14px;  
    color:#fff;
}
/* Parallax animation effects */
.hero-carousel .carousel-item .carousel-image{
  transform: scale(1) translateX(0);
  transition: all 0.6s;
}

.hero-carousel .carousel-item.carousel-item-next .carousel-image,
.hero-carousel .carousel-item.active.carousel-item-right .carousel-image{
  transform: scale(1.3) translateX(-50%);
}

.hero-carousel .carousel-item.carousel-item-prev .carousel-image,
.hero-carousel .carousel-item.active.carousel-item-left .carousel-image{
  transform: scale(1.3) translateX(50%);
}

.hero-carousel .carousel-item.carousel-item-next.carousel-item-left .carousel-image, 
.hero-carousel .carousel-item.carousel-item-prev.carousel-item-right .carousel-image{
  /*transform: scale(1);*/
  transform: scale(1) translateX(0);
}


/* Makes carousel full screen */
.hero-carousel .carousel-item{
  height: 100vh;
  overflow: hidden;
}
.hero-carousel .carousel-item .carousel-image{
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .banner-section .carousel-image{
    display: flex;
    align-items: center;
}

main .banner-section .carousel .carousel-image{
    display: flex;
    align-items: center;
}

main .banner-section .carousel .carousel-image .content-sec{
    padding:0 5rem;
}
main .banner-section .carousel .carousel-image .content-sec h1{
        color: #fff;
        font-size: calc(112.5% + 3vw);
        line-height: 1.3;
        margin-bottom: .7rem;
    }

main .banner-section .carousel .carousel-image .content-sec h1 .br{
    display:block;
}
main .banner-section .carousel .carousel-image .content-sec .para{
    font-size: 20px;
    color: #fff;
    line-height: 1.6;
}
main .video-pop-up{
    margin:1rem 0;
    display: flex;
    height: 50px;
    align-items: center;
}
main .video-pop-up .b-s{
        background: rgba(255,255,255,.3);
        xpadding:15px 20px;
        display: flex;
        width:10%;
        align-items: center;
        justify-content: center;
}
main .video-pop-up img{
    width: 15px;
    transform:rotate(180deg);
}
.carousel .heading  h2{
    font-size:  30px;
    text-align:   left; 
    line-height:    1.4;
 }
.carousel .heading:before{
    content:'';
    display:    none !important;   
}
header .heading  h2{
    font-size: 30px;
    color: #000;
    text-align:     left ; 
    font-weight:    600;
    line-height:    1.4;
    margin-bottom:  .5rem; 
}
main .cms h2,
main .heading  h2{
    font-size: 30px;
    color: #23c1cb;
    text-align:     left ; 
    font-weight:    600;
    line-height:    1.4;
    margin-bottom:  .5rem;
}
.cms p ,
main .heading p,
.growth_mar-inner p{
    line-height: 1.59;
    font-size: 15px;
    font-weight: 300;
}
.p-7 {
    padding: calc(1rem + 2vw);
}
.cms h5{
    margin-bottom: .6rem;
}
.cms h5:after {
    content: "";
    width: 1.75rem;
    height: 4px;
    margin: .6rem 0;
    display:block; 
   xbackground: #000;
        background: #23c1cb;
}
.banner-section{
    position:   relative;   
}
.banner-section
.featured-section{
    position: absolute; 
    bottom:     0;
    color:  #fff;
    width:  100%;
    padding:    3rem 5rem;
        display:    flex;   
        justify-content:   space-between;   
        align-items:    flex-end;
}
.banner-section
.featured-section .logo-sec ul{
    display: flex;  
}
.banner-section
.featured-section .logo-sec ul li {
    padding:0 .5rem;
}
.growth_mar{
    margin:     3rem 0;
}
main .heading p{
    width:  60%;
    xmargin:auto;    
    text-align:left ; 
}
.growth_mar{
    margin: 2rem 0;
}
.growth_mar
.growth_mar-inner {
    margin:     3rem 0;
}
.growth_mar
.growth_mar-inner h2{
        font-weight:   600;
        font-size:  20px;
        margin:     .5rem 0;
}
.growth_mar
.growth_mar-inner img{
    width:  30px;
}
.btn{
    background:#23c1cb;
    padding:8px 70px;
    text-transform:     uppercase;
    font-size:  13px;
    color:  #000;
    font-weight:    600;
    border-radius:0;
}
.btn:hover{
    border:1px solid #23c1cb;
    background: transparent;    
}
.heading {
    display:flex;   
    align-items:    center; 
}
.heading  h2,
.heading  p{
    text-align:   left; 
    margin: unset;  
    padding:0 12px;
}
main .heading:before {
    content: '';
    height: 105px;
    width: 5px;
        background:      #23c1cb;
   xbackground: #000;
    display: inline-block;
}
.services{
    padding:3rem 0;
    background:#f6f6f6;
}
.services .rows{
    display:flex;
    align-items:    flex-end;
    justify-content:    center; 
    padding:1rem;
}
.services .rows .services-inner{
    background:#fff;
    text-align:center;  
    padding:    2rem;
    margin:2rem 0;
    border-right: 1px solid #eee;
}
.services .rows .services-inner p{
    font-weight: 600;
    color:  #6d6d6d;
    font-size:15px;
    margin:.5rem 0 0;
}
.services .rows .services-inner img{
    width:80px;
}
.digi-trends{
    margin: 3rem 0;
}
.digi-trends
.nav-pills .nav-link{
        border: 1px solid #eee;
    color: #000;
    padding: 15px;
    border-radius: 0;
    font-size: 14px;
    margin:.5rem 0;
}
.digi-trends
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background:  transparent;   
    border:1px solid    #23c1cb;
    color:  #23c1cb;
}
.digi-trends
.bg-gray {
    background: #f6f6f6;
}
.digi-trends
.trend-stats p{
    font-size:  14px;
    line-height:    1.6;
}
.digi-trends
.trend-stats>span {
    font-weight: 500;
    margin-bottom: .8rem;
    display: block;
    font-size: calc(112.5% + 0.21vw);
    font-size:15px;
}
#myNavbar ul li .contact:after{
        display:    none;   
}
#myNavbar ul li a {
  position: relative;
     transition: 0.5s;
}
#myNavbar ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #76CBF5;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  margin:8px 0;
}
#myNavbar ul li a:hover {
  xcolor: #95a5a6;
}
#myNavbar ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
header .bgwhiteopac {
    background: transparent ;
}
 .bgwhite {
    background: #000000b5;
    transition: background-color 1s ease;
}
/*Services css*/
.services_sec .services-tabs ul{
        display:flex;
    vertical-align: middle;
}
.services_sec .services-tabs ul li{
    text-align: center;
    border-right: 1px solid #eee;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.services_sec .services-tabs .services-content-list{
    padding:4rem 2rem;
}
.services_sec.services-tabs .services-content-list h2{
    font-size: 16px;
    color: #000;
    font-weight: 700;
    margin:1rem 0;
}
li.active {
    color: red;
}
.services-intro {
    background-color: #f0f5f8;
    padding: 80px 0 50px;
}
.services-intro-name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #51cfd4;
    margin: 0;
}
.services-intro-sub-heading {
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
    color: #3b3c3d;
}
.services-intro-name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #51cfd4;
    margin: 0;
}
.category-icon {
    bottom: 0;
    right: 5rem;
    position: absolute;
}
.services-content-main {
    font-size: 20px;
    line-height: 38px;
    color: #3b3c3d;
    margin: 1rem 0 0 ;
}
.services_sec .services-content-list h2{
        font-weight: 700;
    color: #000;
    margin: 1rem 0 0;
}
.services-no {
    font-size: 98px;
    line-height: 82px;
    font-weight: 600;
    color: #51cfd4;
    margin-right: 1.5rem;
}
.services-banner .distable-cell {
    position: relative;
    z-index: 2;
}
.services-banner-tagline-1 {
    color: #899c2a;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}
.services-banner-tagline-2 {
    font-size: 48px;
    line-height: 54px;
    font-weight: 600;
    color: #bdd346;
    padding: 20px 0;
}
.services-banner-tagline-3 {
    font-size: 30px;
    line-height: 42px;
    font-weight: 600;
    color: #fff;
}
.distable-cell {
    display: table-cell;
    vertical-align: middle;
}
.distable {
    display: table;
}
.services_sec .services-tabs .services-content-list.active{
    background: #23c1cb;
}
.services_sec .services-tabs ul li a{
    text-decoration: none;
}
#faq .card {
  margin-bottom: 30px;
  border: 0;
}

#faq .card .card-header {
  border: 0;
  x-webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
          xbox-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border-radius: 2px;
  padding: 0;
}
#faq {
    margin:3rem 0;
}
#faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  xbackground: #FFE472;
  color: #222;
   color: #23c1cb;
  padding: 0 20px;
}

 #faq .card .card-header .btn-header-link:after {
      content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #BABDF2;
    margin: 0 25px;
}
 #faq .card  .card-body{
    padding: .4rem 1.25rem;
 }
 #faq .card .card-header .btn-header-link.collapsed {
  xbackground: #A541BB;
  xcolor: #fff;
}
#faq .card .card-header a{
    display: flex !important;
    justify-content: space-between;
    align-items: center;

}
#faq .card .card-header .btn-header-link.collapsed:after {
      content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #BABDF2;
    border-bottom: unset;
    margin: 0 25px;
}
 #faq .card .collapsing {
  xbackground: #FFE472;
  line-height: 30px;
}
#faq .card  .btn:hover{
    border:none;
}
#faq .card  .btn{
    background:#fff;
    font-size: 25px;
    text-transform: unset;
    font-weight:600;
}
#faq .card .collapse {
  border: 0;
}

#faq .card .collapse.show {
  xbackground: #FFE472;
  line-height: 30px;
  color: #222;
}
.case-study{
        background-color: #f0f5f8;
        padding: 3rem 0;
        margin:2rem 0 0;
}
.case-study
.slick-prev:before, .case-study .slick-next:before{
    font-size: 30px;
    color: #000;
}
.case-study
.slick-prev {
       display: inline;
    width: 115px;
    left: unset;
    right:5rem;
    top: -3rem;
}
.case-study
.slick-next{
    right: 5rem;
    top: -3rem;
}
.case-study
.case-study-inner{
    margin:2rem 0;
}
/*growth*/
.growth-banner .banner-content{
    position: absolute;
    left:  5rem;
    top: 40%;
    font-size: 30px;
}
.growth-banner .banner-content h2{
    color: #fff;
    font-size: 40px;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
}
.growth-banner .banner-content p{
    font-size: 17px;
    margin:1rem 0;
}
.growth-banner .banner-content  a.expert{
    background: #23c1cb;
    border-radius: 100px;
    color: #000;
    text-decoration: none;
    padding: 20px 10px;
    font-size: 15px;
    width: 40%;
    font-weight: 600;
    text-align: center;
    display: block;
}
.overview {
    background-color: #061a35;
    padding: 70px 0px 70px;
}
.sec-desc {
    font-size: 16px;
    line-height: 28px;
}
.overview p{
    color: #fff;
    line-height: 1.6;
    margin-bottom: .6rem;
}
.green-color {
    color: #c1dc2e;
}
.overview-adv p {
    color: #fff;
    width: 250px;
    text-align: center;
    display: block;
    margin: 7px auto 0;
    font-style: oblique;
}
.overview-slider .col-4{
    text-align: center;
    margin:2rem 0;
}